* {
  font-family: 'Barlow Condensed';
}

/* Header begins */

.container {
  margin: 0rem;
  /* background-color: red; */
  display: flex;
  align-items: center;
  align-items: baseline;
  justify-content: center;
  flex-wrap: nowrap;
  margin-left: 1rem;
  gap: 100px;
  background-color: #0F222D;
}

.form-control {
  flex-shrink: 2;
}

.Logo {
  height: auto;
  max-width: 100%;
}

a {
  /* font-family: 'Barlow Condensed'; */
  font-size: 1.2rem;
}

a:link {
  color: #EBE7D9;
  text-decoration: none;
}

a:visited {
  color: #EBE7D9;
  text-decoration: none;
}

a:hover {
  color: #F55139;
  text-decoration: underline;
}

a:active {
  color: #F55139;
  text-decoration: underline;
}

button {
  padding: 12px 10px;
  font-size: 14px;
}

/* Header Stops */

/* Footer Begins */
.footer {
  background-color: #0F222D;
}

/* Footer Ends */
/* Home page begins */
.banner-details {
  background: url(./images/home-page.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.banner {
  position: relative;
  text-align: center;

}

.welcome-text {
  position: absolute;
  top: 200px;
  left: 16px;
  color: #EBE7D9;
  font-size: 5rem;
}

.welcome-text1 {
  position: absolute;
  top: 300px;
  left: 16px;
  color: #EBE7D9;
  font-size: 2.5rem;


}

.welcome-text2 {
  position: absolute;
  top: 400px;
  left: 16px;
  color: #EBE7D9;
  font-size: 2rem;
}

/* Shop now button start*/
.Shop-Now-btn {
  position: absolute;
  top: 600px;
  left: 30rem;
  width: 50%;

  --c: #EBE7D9;
  /* text color */
  background: linear-gradient(90deg, #0F222D 33%, #fff5, #0F222D 67%) var(--_p, 100%)/300% no-repeat,
    #F55139;
  /* background color */
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i, -1)));
  text-shadow: calc(var(--_i, -1)* 0.08em) -.01em 0 var(--c),
    calc(var(--_i, -1)*-0.08em) .01em 2px #0F222D;
  outline-offset: .1em;
  transition: 0.3s;
}

.Shop-Now-btn:hover,
.Shop-Now-btn:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.Shop-Now-btn:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

.Shop-Now-btn {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: .1em .3em;
}

/* shop now button finish */

/* Home page ends */
/* Shop page begins */
.container-shop {
  background-color: #0F222D;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;

}

.box {
  background-color: #F55139;
  width: 28%;
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 10px #EBE7D9;

}

.item-title {
  color: #EBE7D9;
  text-align: center;
}

.item-description {
  color: #0F222D;
  font-size: 1rem;
}

.item-price {
  color: #0F222D;
  font-size: 1rem;
}

.item-images {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.container-search {
  padding: 4px 4px;
  max-width: 500px;
  margin: auto;
}








/* Category buttons */
.col-cat {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.btn-cat {
  background-color: #F55139;
  margin: 2px 2px;
  width: 70%;

}

/* Category buttons */

/* Shop page ends */

/* Login Page begins */
.login {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

}

input {
  padding: 10px;
  width: 300px;
  border: 1px solid #0F222D;
  margin: 10px 0;
}

small {
  color: red;
}

.login-btn {
  padding: 10px;
  width: 300px;
  border: 1px solid #EBE7D9;
  background-color: #0F222D;
  color: #F55139;
}

/* Login Page Ends */
/* About page begins */
.about-text {
  position: absolute;
  top: 20px;
  left: 16px;
  color: #0F222D;
  font-size: 5rem;
  padding: 30px;
}

.about-img {
  background: url(./images/about-page.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

/* About page Ends */