* {
  font-family: 'Barlow Condensed';
}

/* Header begins */

.container {
  margin: 0rem;
  background-color: red;
  display: flex;
  align-items: center;
  align-items: baseline;
  justify-content: center;
  flex-wrap: nowrap;
  margin-left: 1rem;
  gap: 100px;
  background-color: #0F222D;
}

.form-control {
  flex-shrink: 2;
}

.Logo {
  height: auto;
  max-width: 100%;
}

a {
  /* font-family: 'Barlow Condensed'; */
  font-size: 1.2rem;
}

a:link {
  color: #EBE7D9;
  text-decoration: none;
}

a:visited {
  color: #EBE7D9;
  text-decoration: none;
}

a:hover {
  color: #F55139;
  text-decoration: underline;
}

a:active {
  color: #F55139;
  text-decoration: underline;
}

button {
  padding: 12px 10px;
  font-size: 14px;
}

/* Header Stops */

/* Footer Begins */
.footer {
  background-color: #0F222D;
}

/* Footer Ends */